{% load static %}
<html lang="zh-CN" id="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AI自由写作 | AI科幻世界</title>
    <link href="{% static 'writing/css/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'writing/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'writing/js/quill.js' %}"></script>
    <script src="{% static 'writing/js/jquery.min.js' %}"></script>
    <script src="{% static 'writing/js/bootstrap.min.js' %}"></script>
</head>
    <style>
        html,body{
            height: 100%;
        }

        .container-fluid{
            height: 100%;
            overflow: auto;
        }

        .bg {
            background-image: url('../static/writing/images/background.png');
            height: 150%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: auto;
        }

        button:focus{
            outline:0;
        }

        .nav-link {
            color: white !important;
            font-size:20px;
        }

        .nav-item .active {
            color: #ff9933 !important;
        }

        .dot {
            height: 5px;
            width: 5px;
            background-color: #ff9933;
            border-radius: 50%;
            display: inline-block;
        }

        #writing-panel{
            width: 85%;
            margin-left: 7.5%;
        }

        .label {
            color: white;
            font-size: 20px;
        }

        #length-range{
            width: 100%;
        }
        #topic {
            background-color: transparent;
            border: white solid 1px;
            color: white;
        }

        #editor {
            background:rgba(57,56,57,0.7);
            color: white;
            font-size: 20px;
        }

        #toolbar {
            background-color: white;
        }

        #quill-container{
            position: relative;
            height:70%;
        }

        .ql-editor .ql-blank::before{
            color: gainsboro;
        }

        .ql-editor.ql-blank:focus::before {
            content: '';
        }


        .add {
            background-color: transparent;
            border: none;
        }


        #ai-wait {
            height: 22px;
            left: 0;
            position: absolute;
            top: 0;
            width: 22px;
            z-index: 999;
            display: none;
        }

        #ai-suggests {
            position:absolute;
            z-index:999;
            left: 0;
            top: 0;
        }

        #save-all, #clear-all {
            border-radius: 10%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 30px;
            font-size: 18px;
            border: none;
        }

        @keyframes stretch {
            0% {
                transform: scale(0);
                transform-origin: top center;
                visibility: hidden;
                margin-left: 9.5vw;
            }
            50% {
                transform: scale(0);
                transform-origin: top center;
                visibility: hidden;
            }

            100% {
                transform: scale(1);
                transform-origin: top center;
                visibility: visible;
            }
        }
        #nav-button {
            background-color: transparent;
            border:none;
        }

        #notice {
            position:absolute;
            right:5%;
            visibility: visible;
            color: gray;
            font-style: italic;
        }

        @media screen and (max-width: 1000px) {
            .navbar-nav {
                display: block !important;
                position: absolute;
                background-color: rgb(75,76,77);
            }
            .navbar-nav li span {
                display: none;
            }
            .navbar-nav li:hover {
                background-color: rgb(50,51,51);
            }
        }
    </style>
</head>
<body>
<main class="container-fluid vh-100 d-flex flex-column p-0">
    <div class="bg">
        <nav class="navbar navbar-dark navbar-expand static-top mt-3">
            <button id="nav-button">
                <svg width="40px" height="40px" viewBox="0 0 16 16" class="bi bi-grid-3x3-gap-fill" fill="white" xmlns="http://www.w3.org/2000/svg" style="background:transparent;">
                    <path fill-rule="evenodd" d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z">
                </svg>
            </button>
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item px-5 text-center">
                        <a class="nav-link" href="{% url 'index' %}">主页</a>
                    </li>
                    <li class="nav-item px-5 text-center">
                        <a class="nav-link active" href="#">自由写作</a>
                        <span class="dot mt-3"></span>
                    </li>
                    <li class="nav-item px-5 text-center">
                        <a class="nav-link" href="{% url 'chatting' %}">对话接龙</a>
                    </li>
                    <li class="nav-item px-5 text-center">
                        <a class="nav-link" href="{% url 'dungeon' %}">AI dungeon</a>
                    </li>
                    <li class="nav-item px-5 text-center">
                        <a class="nav-link" href="{% url 'about' %}">关于我们</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-row justify-content-start align-items-center pt-3" style="padding-left: 7%">
            <img src="{% static 'writing/images/writing.svg' %}" width="600px">
        </div>
        <div id="writing-panel">
            <div class="label pt-2">
                故事背景:
                <input id="topic" class="input-box p-2 w-75" type="text" placeholder="描述时间、地点、环境等">
            </div>
            <div class="label pt-3 pb-3 d-flex flex-row">
                添加角色:&nbsp;<div id="characters" class="d-flex flex-row"></div>
                <button class="add" type="button" data-toggle="modal" data-target="#character-add">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="white" xmlns="http://www.w3.org/2000/svg" style="background-color: transparent">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </div>
            <div class="label mt-2 pb-3 d-flex flex-row align-items-center" >
                <label for="length-range" class="d-flex flex-row">AI段落生成长度:</label>
                <div class="d-flex flex-column pl-3" style="width: 30%; ">
                    <div id="length-value-container" style="padding-left: 50%; margin-left: -25px;">
                        <div id="bubble-value" style="width:50px; text-align: center">
                            <svg width="0.5em" height="0.5em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </div>
                        <div id="length-value" style="width:50px; text-align: center; ">50</div>
                    </div>
                    <input type="range" class="custom-range" id="length-range" min="0" max="100" value="50" step="1">
                </div>
            </div>
            <div class="modal" id="character-add" tabindex="-1" role="dialog" aria-labelledby="character-add" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addCharacter">添加角色</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            角色:
                            <input id="new-character" type="text" class="input-box p-2" placeholder="请输入要添加的角色名">
                        </div>
                        <div class="modal-footer">
                            <button id="save-character" type="button" class="btn btn-primary" data-dismiss="modal" onclick="appendCharacter()">保存</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="toolbar" class="d-flex flex-row" style="position:relative">
                <select class="ql-size">
                    <option value="small"></option>
                    <option selected></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                </select>
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <select class="ql-color" defaultValue="rgb(255, 255, 255)">
                        <option value="rgb(0, 0, 0)" />
                        <option value="rgb(230, 0, 0)" />
                        <option value="rgb(255, 153, 0)" />
                        <option value="rgb(255, 255, 0)" />
                        <option value="rgb(0, 138, 0)" />
                        <option value="rgb(0, 102, 204)" />
                        <option value="rgb(153, 51, 255)" />
                        <option value="rgb(255, 255, 255)" />
                        <option value="rgb(250, 204, 204)" />
                        <option value="rgb(255, 235, 204)" />
                        <option value="rgb(204, 224, 245)" />
                        <option value="rgb(235, 214, 255)" />
                        <option value="rgb(187, 187, 187)" />
                        <option value="rgb(102, 185, 102)" />
                </select>
                <div id="notice">长按[SHIFT]键自动生成</div>
            </div>
            <div id="quill-container">
                <img src="{% static 'writing/images/ai_button_wait.svg' %}" id="ai-wait">
                <div id="ai-suggests" class="dropdown-menu"></div>
                <div class="ql-editor" id="editor"></div>
                <div class="ql-blank"></div>
            </div>
            <div class="d-flex flex-row justify-content-end pt-3">
                <button id="save-all" type="button" class="btn-primary">保存</button>
                <button id="clear-all" type="button" class="btn-secondary">清空</button>
            </div>

            <div class="modal fade" id="messageBox" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="messageBoxTitle">信息</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="messageBoxBody"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="{% static 'writing/images/chuangxin.svg' %}" width="40%">
        </div>
    </div>

</main>
<script>
    let quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: '#toolbar'
        },
        placeholder: '请输入您的小说内容,或长按SHIFT键AI自动生成'
    });

    let characterList = [];
    let aiButtonPosition = {left:0, top:0};
    let aiSuggestPosition = {left:0, top:0, height:0, width:0};

    function appendCharacter(){
        let newCharacter = document.getElementById("new-character").value;
        if (newCharacter && !(characterList.indexOf(newCharacter) >= 0)){
            characterList.push(newCharacter);
            const newButton = `
            <button id="${newCharacter}" class="character-item d-flex flex-row align-items-center"
            style="border:none;
            border-radius: 100px;
            padding-left:10px;
            padding-right: 10px;
            margin-right: 5px;
            font-size: 18px;">
            <div id="${newCharacter}-name" class="pr-1">${newCharacter}</div>
            <div id="${newCharacter}-button" onclick="deleteCharacter(this)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle" fill="black" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
            </div>
            </button>`;
            document.getElementById("characters").insertAdjacentHTML('beforeend',newButton);
            document.getElementById("new-character").value = '';
        } else {
            alert("角色已存在。")
        }
    }

    function deleteCharacter(elem){
        let characterId = elem.parentNode.id + "-name";
        let removeCharacter = document.getElementById(characterId).innerHTML;
        let index = characterList.indexOf(removeCharacter);
        characterList.splice(index, 1);
        document.getElementById(elem.parentNode.id).remove();
    }

    function deleteAll(){
        if (window.confirm('确认后全部角色将被删除，您确认吗？')){
            characterList = [];
        }
        document.getElementById("characters").innerHTML = characterList.join(" ｜ ");
    }

    function hideAISuggests() {
        $('#ai-suggests').removeClass('show').hide();
    }

    function switchToHumanFormat () {
        quill.format('color', 'white');
    }

    function showAISuggests(suggests){
        $('#ai-suggests').empty();
        for (let i = 0; i < suggests.length; i++) {
            const suggest = suggests[i];
            $('<a class="dropdown-item">' + suggest + '</a>')
                .appendTo('#ai-suggests')
                .on('click', () => {
                    hideAISuggests();
                    quill.focus();
                    quill.insertText(
                        quill.getSelection().index,
                        suggest,
                        {
                            'color': 'white'
                        }
                    );
                    switchToHumanFormat();
                });
            $('<div class="dropdown-divider"></div')
                .appendTo('#ai-suggests');
        }
        $('<a class="dropdown-item">取消</a>')
            .appendTo('#ai-suggests')
            .on('click', () => {
                hideAISuggests();
                quill.focus();
                switchToHumanFormat();
            });

        $('#ai-suggests').css({
            left: aiSuggestPosition.left,
            top: aiSuggestPosition.top
        }).addClass('show').show();
    }

    function onClickAIButton () {
        let topic = document.getElementById("topic").value;
        let length = document.getElementById('length-range').value;
        let contents = quill.getText();
        // 参数：
        // AI生成长度：AIlength
        // 角色列表：characterList
        let max_length = 50;
        if (contents.length > max_length){
            contents = contents.slice(max_length);
        }
        topic = topic.concat(contents);
        console.log(topic);
        console.log(length);
        console.log(characterList);
        
        if ((characterList.length !== 0) && topic){
            $('#ai-wait').css({
                left: aiButtonPosition.left,
                top: aiButtonPosition.top
            }).show();

            $.ajax({
                url:'writing',
                type:'POST',
                data:{topic: topic,
                length:length},
                success:function (data) {
                    console.log(data);
                    showAISuggests([data]);
                    $('#ai-wait').hide();
                    switchToHumanFormat();
                }
            });

        } else {
            $('#messageBoxBody').text('请先输入故事背景和角色列表');
            $('#messageBox').modal('show');
        }
    }

    // let triggerTime = 1500;
    //

    let count = 0;
    let triggerTime = 1500;

    function onKeyUp (timeout){
        $('#editor').on('keyup',function () {
            clearTimeout(timeout);
        })
    }

    function onKeyDown (event) {
        let key = event.keyCode;
        if (key == '16' && count == 0){
            let timeout = setTimeout(onClickAIButton,triggerTime);
            count += 1;
            return onKeyUp(timeout);
            }
        }


    let KEY_TOPIC = 'SCIFI_WRITING_TOPIC';
    let KEY_CHARACTERS = 'SCIFI_WRITING_CHARACTERS';
    let KEY_CONTENTS = 'SCIFI_WRITING_CONTENTS';

    function saveContents () {
        window.localStorage.setItem(KEY_TOPIC, $('#topic').val());
        window.localStorage.setItem(KEY_CHARACTERS, JSON.stringify(characterList));
        let delta = quill.getContents();
        let json = JSON.stringify(delta, null, 2);
        window.localStorage.setItem(KEY_CONTENTS, json);
    }

    function clearContents () {
        $('#topic').val('');
        $('#length-range').val('');
        characterList = [];
        $('#characters').html('');
        quill.setContents('');
    }

    function loadContents() {
        let topic = window.localStorage.getItem(KEY_TOPIC);
        if (topic) {
            $('#topic').val(topic)
        } else{
            $('#topic').val('')
        }
        let character = window.localStorage.getItem(KEY_CHARACTERS);
        if (character){
            characterList = JSON.parse(window.localStorage.getItem(KEY_CHARACTERS));
            if (!characterList.length == 0) {
                for (let i=0; i<characterList.length; i++){
                    let character = characterList[i];
                    const newButton = `
                    <button id="${character}" class="character-item d-flex flex-row align-items-center"
                    style="border:none;
                    border-radius: 100px;
                    padding-left:10px;
                    padding-right: 10px;
                    margin-right: 5px;
                    font-size: 18px;">
                    <div id="${character}-name" class="pr-1">${character}</div>
                    <div id="${character}-button" onclick="deleteCharacter(this)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-circle" fill="black" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                    </div>
                    </button>`;
                    document.getElementById("characters").insertAdjacentHTML('beforeend',newButton);
                }
            }
        } else {
            document.getElementById("characters").innerHTML = ''
        }
        let contents = window.localStorage.getItem(KEY_CONTENTS);
        if (contents) {
            let delta = JSON.parse(contents);
            quill.setContents(delta);
        } else {
            quill.setContents('');
        }
    }

    let AIlength = 50;
    let bubblePosition= {left:0};

    function getAILength() {
        let slider = document.getElementById('length-range');
        slider.oninput = function () {
            AIlength = slider.value;
            document.getElementById('length-value').innerHTML = AIlength;
            bubblePosition.left = AIlength+'%';
            $('#length-value-container').css('padding-left', bubblePosition.left);
        }
    }
    function showNotice(){
        $('#notice').css('visibility','visible');
    }

    $(document).ready(function () {
        $('#navbarNav').css('visibility', 'visible');
        $("#nav-svg").attr("class", "bi bi-grid-3x3-gap");
        $("#nav-path").attr("d", "M4 2H2v2h2V2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 2H7v2h2V2zm5 0h-2v2h2V2zM4 7H2v2h2V7zm5 0H7v2h2V7zm5 0h-2v2h2V7zM4 12H2v2h2v-2zm5 0H7v2h2v-2zm5 0h-2v2h2v-2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z");
        $('#nav-button').click(function () {

            if ($('#navbarNav').css('visibility') == 'visible'){
                $('#navbarNav').css('visibility', 'hidden');
                $("#nav-svg").attr("class", "bi bi-grid-3x3-gap-fill");
                $("#nav-path").attr("d", "M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z");
            } else {
                $('#navbarNav').css('visibility', 'visible');
                $("#nav-svg").attr("class", "bi bi-grid-3x3-gap");
                $("#nav-path").attr("d", "M4 2H2v2h2V2zm1 12v-2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm5 10v-2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V7a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zm0-5V2a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1zM9 2H7v2h2V2zm5 0h-2v2h2V2zM4 7H2v2h2V7zm5 0H7v2h2V7zm5 0h-2v2h2V7zM4 12H2v2h2v-2zm5 0H7v2h2v-2zm5 0h-2v2h2v-2zM12 1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zm-1 6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zm1 4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1h-2z");
            }
        });
    });

    window.addEventListener('DOMContentLoaded', () => {
        $('#ai-wait').hide();
        quill.on('editor-change', (event, ...args) => {
            if (event === 'selection-change'){
                let range = args[0];
                let length = quill.getLength();
                if (range === null)
                    return;
                if (length === 1){
                    let initialPosition = quill.getBounds(range.index, range.length);
                    aiSuggestPosition.left = initialPosition.left;
                }
                let rect = quill.getBounds(range.index, range.length);
                aiButtonPosition.left = rect.right;
                aiButtonPosition.top = rect.top;
                aiSuggestPosition.top = rect.top + rect.height;
                $('#editor').on('keydown', onKeyDown);
                count = 0


            } else{
                setTimeout(showNotice,3000);
                $('#notice').css('visibility','hidden');
            }
        });
        $('#save-all').on('click', saveContents);
        $('#clear-all').on('click', clearContents);
        getAILength();
        loadContents();
        quill.setSelection(quill.getLength(), 0);
        switchToHumanFormat();
    })

</script>
</body>
</html>
